# 1. Get an Alchemy or Infura Sepolia RPC URL (e.g., https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY)
SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/cNOoe9gChiQzgmOVBMo1c"

# 2. Get your MetaMask Private Key (Account Details -> Export Private Key)
# WARNING: NEVER SHARE THIS KEY WITH ANYONE OR COMMIT IT TO GITHUB
PRIVATE_KEY="3bfa008920930d23ca57dfebf0f68d9ccd27c46b60ba8224d7f2319b4d472fba"
